USE [master]
GO
/****** Object:  Database [BIBLIOTECA]    Script Date: 08/07/2020 12:44:53 ******/
CREATE DATABASE [BIBLIOTECA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIBLIOTECA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BIBLIOTECA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BIBLIOTECA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BIBLIOTECA_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIBLIOTECA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIBLIOTECA]
GO
/****** Object:  Table [dbo].[DEVOLUCAO]    Script Date: 08/07/2020 12:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVOLUCAO](
	[CODDEVOLUCAO] [int] IDENTITY(1,1) NOT NULL,
	[CODEMPRESTIMO] [int] NOT NULL,
	[DATA_DEVOLUCAO] [datetime] NOT NULL,
	[DIAS_ATRASO] [int] NOT NULL,
 CONSTRAINT [PK_DEVOLUCAO] PRIMARY KEY CLUSTERED 
(
	[CODDEVOLUCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPRESTIMO]    Script Date: 08/07/2020 12:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESTIMO](
	[CODEMPRESTIMO] [int] IDENTITY(1,1) NOT NULL,
	[CODUSUARIO] [int] NOT NULL,
	[CODLIVRO] [int] NOT NULL,
	[DATA_EMPRESTIMO] [datetime] NOT NULL,
	[PRAZO] [int] NOT NULL,
 CONSTRAINT [PK_EMPRESTIMO] PRIMARY KEY CLUSTERED 
(
	[CODEMPRESTIMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LIVRO]    Script Date: 08/07/2020 12:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIVRO](
	[CODLIVRO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[AUTOR] [varchar](50) NOT NULL,
	[DATA_PUBLICACAO] [datetime] NOT NULL,
	[QUANTIDADE] [int] NOT NULL,
	[CATEGORIA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LIVRO] PRIMARY KEY CLUSTERED 
(
	[CODLIVRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/07/2020 12:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[CODUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[DATA_NASCIMENTO] [datetime] NOT NULL,
	[ESCOLARIEDADE] [varchar](50) NOT NULL,
	[ENDERECO] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[GENERO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[CODUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DEVOLUCAO]  WITH CHECK ADD  CONSTRAINT [FK_DEVOLUCAO_EMPRESTIMO] FOREIGN KEY([CODEMPRESTIMO])
REFERENCES [dbo].[EMPRESTIMO] ([CODEMPRESTIMO])
GO
ALTER TABLE [dbo].[DEVOLUCAO] CHECK CONSTRAINT [FK_DEVOLUCAO_EMPRESTIMO]
GO
ALTER TABLE [dbo].[EMPRESTIMO]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESTIMO_LIVRO] FOREIGN KEY([CODLIVRO])
REFERENCES [dbo].[LIVRO] ([CODLIVRO])
GO
ALTER TABLE [dbo].[EMPRESTIMO] CHECK CONSTRAINT [FK_EMPRESTIMO_LIVRO]
GO
ALTER TABLE [dbo].[EMPRESTIMO]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESTIMO_USUARIO] FOREIGN KEY([CODUSUARIO])
REFERENCES [dbo].[USUARIO] ([CODUSUARIO])
GO
ALTER TABLE [dbo].[EMPRESTIMO] CHECK CONSTRAINT [FK_EMPRESTIMO_USUARIO]
GO
USE [master]
GO
